[Desktop Entry]
Type=Application
Name=BBHouse
Name[zh_CN]=BBHouse
Comment=Play Bilibili videos and local media
Comment[zh_CN]=播放哔哩哔哩视频与本地媒体
Exec=bbhouse-qt
TryExec=bbhouse-qt
Icon=io.github.endcloud.bbhouse-qt
Terminal=false
Categories=AudioVideo;Player;
StartupNotify=true
